<a href="https://colab.research.google.com/github/DipeshChothwe/NLP/blob/master/Classifying_Emails.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
4/4AGhhiM6pDJLAFI59f4AzsumbNFM2MqQj-kzn8DcgzK8H7FMSqvSxlY
Mounted at /content/drive

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import re
import nltk
import string
from nltk.corpus import stopwords
from nltk.classify import SklearnClassifier
from nltk.tokenize import sent_tokenize, word_tokenize
import time
import nltk.classify.util
from nltk.classify import NaiveBayesClassifier
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
msg = pd.read_csv("/content/drive/My Drive/NLP/messages.csv")

In [5]:
msg.head()

                                             subject  ... label
0            job posting - apple-iss research center  ...     0
1                                                NaN  ...     0
2  query : letter frequencies for text identifica...  ...     0
3                                               risk  ...     0
4                           request book information  ...     0

[5 rows x 3 columns]

In [7]:
print("length of data: ", len(msg))
print("missing values from msg:")
print(msg.isnull().sum())

length of data:  2893
missing values from msg:
subject    62
message     0
label       0
dtype: int64

In [8]:
msg.groupby('label').describe()

      subject         ...                                            message
        count unique  ...                                                top freq
label                 ...
0        2363   2193  ...  - - - - - - - - - - - - - - - - - - - - - - - ...    2
1         468    420  ...  this is not spam ; you are receiving this mess...    5

[2 rows x 8 columns]