<a href="https://colab.research.google.com/github/DipeshChothwe/NLP/blob/master/Topic_modeling_for_news_categories.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install news-fetch

Requirement already satisfied: news-fetch in /usr/local/lib/python3.6/dist-packages (0.2.5)
Requirement already satisfied: news-please in /usr/local/lib/python3.6/dist-packages (from news-fetch) (1.5.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from news-fetch) (1.0.5)
Requirement already satisfied: unidecode in /usr/local/lib/python3.6/dist-packages (from news-fetch) (1.1.1)
Requirement already satisfied: selenium in /usr/local/lib/python3.6/dist-packages (from news-fetch) (3.141.0)
Requirement already satisfied: newspaper3k in /usr/local/lib/python3.6/dist-packages (from news-fetch) (0.2.8)
Requirement already satisfied: chromedriver-binary in /usr/local/lib/python3.6/dist-packages (from news-fetch) (86.0.4240.22.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (from news-fetch) (4.6.3)
Requirement already satisfied: fake-useragent in /usr/local/lib/python3.6/dist-packages (from news-fetch) (0.1.11)
Requirement already satisfied: lxml>=3.3.5 in /usr/local/lib/python3.6/dist-packages (from news-please->news-fetch) (4.2.6)
Requirement already satisfied: python-dateutil>=2.4.0 in /usr/local/lib/python3.6/dist-packages (from news-please->news-fetch) (2.8.1)
Requirement already satisfied: readability-lxml>=0.6.2 in /usr/local/lib/python3.6/dist-packages (from news-please->news-fetch) (0.8.1)
Requirement already satisfied: elasticsearch>=2.4 in /usr/local/lib/python3.6/dist-packages (from news-please->news-fetch) (7.9.1)
Requirement already satisfied: psycopg2-binary>=2.8.4 in /usr/local/lib/python3.6/dist-packages (from news-please->news-fetch) (2.8.6)
Requirement already satisfied: plac>=0.9.6 in /usr/local/lib/python3.6/dist-packages (from news-please->news-fetch) (1.1.3)
Requirement already satisfied: warcio>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from news-please->news-fetch) (1.7.4)
Requirement already satisfied: PyDispatcher>=2.0.5 in /usr/local/lib/python3.6/dist-packages (from news-please->news-fetch) (2.0.5)
Requirement already satisfied: awscli>=1.11.117 in /usr/local/lib/python3.6/dist-packages (from news-please->news-fetch) (1.18.147)
Requirement already satisfied: hurry.filesize>=0.9 in /usr/local/lib/python3.6/dist-packages (from news-please->news-fetch) (0.9)
Requirement already satisfied: hjson>=1.5.8 in /usr/local/lib/python3.6/dist-packages (from news-please->news-fetch) (3.0.2)
Requirement already satisfied: bs4 in /usr/local/lib/python3.6/dist-packages (from news-please->news-fetch) (0.0.1)
Requirement already satisfied: PyMySQL>=0.7.9 in /usr/local/lib/python3.6/dist-packages (from news-please->news-fetch) (0.10.1)
Requirement already satisfied: ago>=0.0.9 in /usr/local/lib/python3.6/dist-packages (from news-please->news-fetch) (0.0.93)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from news-please->news-fetch) (1.15.0)
Requirement already satisfied: langdetect>=1.0.7 in /usr/local/lib/python3.6/dist-packages (from news-please->news-fetch) (1.0.8)
Requirement already satisfied: dotmap>=1.2.17 in /usr/local/lib/python3.6/dist-packages (from news-please->news-fetch) (1.3.17)
Requirement already satisfied: Scrapy>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from news-please->news-fetch) (2.3.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->news-fetch) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas->news-fetch) (1.18.5)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from selenium->news-fetch) (1.24.3)
Requirement already satisfied: tldextract>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from newspaper3k->news-fetch) (2.2.3)
Requirement already satisfied: Pillow>=3.3.0 in /usr/local/lib/python3.6/dist-packages (from newspaper3k->news-fetch) (7.0.0)
Requirement already satisfied: PyYAML>=3.11 in /usr/local/lib/python3.6/dist-packages (from newspaper3k->news-fetch) (3.13)
Requirement already satisfied: feedfinder2>=0.0.4 in /usr/local/lib/python3.6/dist-packages (from newspaper3k->news-fetch) (0.0.4)
Requirement already satisfied: cssselect>=0.9.2 in /usr/local/lib/python3.6/dist-packages (from newspaper3k->news-fetch) (1.1.0)
Requirement already satisfied: tinysegmenter==0.3 in /usr/local/lib/python3.6/dist-packages (from newspaper3k->news-fetch) (0.3)
Requirement already satisfied: jieba3k>=0.35.1 in /usr/local/lib/python3.6/dist-packages (from newspaper3k->news-fetch) (0.35.1)
Requirement already satisfied: requests>=2.10.0 in /usr/local/lib/python3.6/dist-packages (from newspaper3k->news-fetch) (2.23.0)
Requirement already satisfied: feedparser>=5.2.1 in /usr/local/lib/python3.6/dist-packages (from newspaper3k->news-fetch) (6.0.1)
Requirement already satisfied: nltk>=3.2.1 in /usr/local/lib/python3.6/dist-packages (from newspaper3k->news-fetch) (3.2.5)
Requirement already satisfied: chardet in /usr/local/lib/python3.6/dist-packages (from readability-lxml>=0.6.2->news-please->news-fetch) (3.0.4)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from elasticsearch>=2.4->news-please->news-fetch) (2020.6.20)
Requirement already satisfied: rsa<=4.5.0,>=3.1.2; python_version != "3.4" in /usr/local/lib/python3.6/dist-packages (from awscli>=1.11.117->news-please->news-fetch) (4.5)
Requirement already satisfied: colorama<0.4.4,>=0.2.5; python_version != "3.4" in /usr/local/lib/python3.6/dist-packages (from awscli>=1.11.117->news-please->news-fetch) (0.4.3)
Requirement already satisfied: s3transfer<0.4.0,>=0.3.0 in /usr/local/lib/python3.6/dist-packages (from awscli>=1.11.117->news-please->news-fetch) (0.3.3)
Requirement already satisfied: botocore==1.18.6 in /usr/local/lib/python3.6/dist-packages (from awscli>=1.11.117->news-please->news-fetch) (1.18.6)
Requirement already satisfied: docutils<0.16,>=0.10 in /usr/local/lib/python3.6/dist-packages (from awscli>=1.11.117->news-please->news-fetch) (0.15.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from hurry.filesize>=0.9->news-please->news-fetch) (50.3.0)
Requirement already satisfied: parsel>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from Scrapy>=1.1.0->news-please->news-fetch) (1.6.0)
Requirement already satisfied: zope.interface>=4.1.3 in /usr/local/lib/python3.6/dist-packages (from Scrapy>=1.1.0->news-please->news-fetch) (5.1.0)
Requirement already satisfied: service-identity>=16.0.0 in /usr/local/lib/python3.6/dist-packages (from Scrapy>=1.1.0->news-please->news-fetch) (18.1.0)
Requirement already satisfied: Twisted>=17.9.0 in /usr/local/lib/python3.6/dist-packages (from Scrapy>=1.1.0->news-please->news-fetch) (20.3.0)
Requirement already satisfied: w3lib>=1.17.0 in /usr/local/lib/python3.6/dist-packages (from Scrapy>=1.1.0->news-please->news-fetch) (1.22.0)
Requirement already satisfied: pyOpenSSL>=16.2.0 in /usr/local/lib/python3.6/dist-packages (from Scrapy>=1.1.0->news-please->news-fetch) (19.1.0)
Requirement already satisfied: cryptography>=2.0 in /usr/local/lib/python3.6/dist-packages (from Scrapy>=1.1.0->news-please->news-fetch) (3.1.1)
Requirement already satisfied: queuelib>=1.4.2 in /usr/local/lib/python3.6/dist-packages (from Scrapy>=1.1.0->news-please->news-fetch) (1.5.0)
Requirement already satisfied: itemadapter>=0.1.0 in /usr/local/lib/python3.6/dist-packages (from Scrapy>=1.1.0->news-please->news-fetch) (0.1.0)
Requirement already satisfied: protego>=0.1.15 in /usr/local/lib/python3.6/dist-packages (from Scrapy>=1.1.0->news-please->news-fetch) (0.1.16)
Requirement already satisfied: itemloaders>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from Scrapy>=1.1.0->news-please->news-fetch) (1.0.3)
Requirement already satisfied: requests-file>=1.4 in /usr/local/lib/python3.6/dist-packages (from tldextract>=2.0.1->newspaper3k->news-fetch) (1.5.1)
Requirement already satisfied: idna in /usr/local/lib/python3.6/dist-packages (from tldextract>=2.0.1->newspaper3k->news-fetch) (2.10)
Requirement already satisfied: sgmllib3k in /usr/local/lib/python3.6/dist-packages (from feedparser>=5.2.1->newspaper3k->news-fetch) (1.0.0)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from rsa<=4.5.0,>=3.1.2; python_version != "3.4"->awscli>=1.11.117->news-please->news-fetch) (0.4.8)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from botocore==1.18.6->awscli>=1.11.117->news-please->news-fetch) (0.10.0)
Requirement already satisfied: pyasn1-modules in /usr/local/lib/python3.6/dist-packages (from service-identity>=16.0.0->Scrapy>=1.1.0->news-please->news-fetch) (0.2.8)
Requirement already satisfied: attrs>=16.0.0 in /usr/local/lib/python3.6/dist-packages (from service-identity>=16.0.0->Scrapy>=1.1.0->news-please->news-fetch) (20.2.0)
Requirement already satisfied: Automat>=0.3.0 in /usr/local/lib/python3.6/dist-packages (from Twisted>=17.9.0->Scrapy>=1.1.0->news-please->news-fetch) (20.2.0)
Requirement already satisfied: PyHamcrest!=1.10.0,>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from Twisted>=17.9.0->Scrapy>=1.1.0->news-please->news-fetch) (2.0.2)
Requirement already satisfied: constantly>=15.1 in /usr/local/lib/python3.6/dist-packages (from Twisted>=17.9.0->Scrapy>=1.1.0->news-please->news-fetch) (15.1.0)
Requirement already satisfied: hyperlink>=17.1.1 in /usr/local/lib/python3.6/dist-packages (from Twisted>=17.9.0->Scrapy>=1.1.0->news-please->news-fetch) (20.0.1)
Requirement already satisfied: incremental>=16.10.1 in /usr/local/lib/python3.6/dist-packages (from Twisted>=17.9.0->Scrapy>=1.1.0->news-please->news-fetch) (17.5.0)
Requirement already satisfied: cffi!=1.11.3,>=1.8 in /usr/local/lib/python3.6/dist-packages (from cryptography>=2.0->Scrapy>=1.1.0->news-please->news-fetch) (1.14.2)
Requirement already satisfied: pycparser in /usr/local/lib/python3.6/dist-packages (from cffi!=1.11.3,>=1.8->cryptography>=2.0->Scrapy>=1.1.0->news-please->news-fetch) (2.20)

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# **Data import**

Data was imported from the already available dataset for news article collection: https://www.kaggle.com/rmisra/news-category-dataset?rvi=1

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:

news = pd.read_json('/content/drive/My Drive/NLP/News_Category_Dataset_v2.json', lines=True)

In [5]:
news.describe()

        category        headline  ... short_description                 date
count     200853          200853  ...            200853               200853
unique        41          199344  ...            178353                 2309
top     POLITICS  Sunday Roundup  ...                    2013-01-17 00:00:00
freq       32739              90  ...             19712                  100
first        NaN             NaN  ...               NaN  2012-01-28 00:00:00
last         NaN             NaN  ...               NaN  2018-05-26 00:00:00

[6 rows x 6 columns]

In [6]:
news.groupby('category').describe()

               headline         ...       date
                  count unique  ...      first       last
category                        ...
ARTS               1509   1509  ... 2014-04-18 2017-01-28
ARTS & CULTURE     1339   1338  ... 2015-07-01 2018-01-29
BLACK VOICES       4528   4519  ... 2012-01-29 2018-05-25
BUSINESS           5937   5925  ... 2012-01-28 2018-05-24
COLLEGE            1144   1144  ... 2014-04-18 2018-02-07
COMEDY             5175   5118  ... 2012-01-28 2018-05-25
CRIME              3405   3400  ... 2012-02-11 2018-05-26
CULTURE & ARTS     1030   1010  ... 2012-01-28 2014-04-13
DIVORCE            3426   3420  ... 2012-01-30 2014-04-17
EDUCATION          1004   1004  ... 2014-04-18 2018-05-17
ENTERTAINMENT     16058  16036  ... 2012-01-28 2018-05-26
ENVIRONMENT        1323   1251  ... 2012-01-28 2014-04-13
FIFTY              1401   1401  ... 2014-04-18 2017-02-05
FOOD & DRINK       6226   6221  ... 2012-01-30 2014-04-17
GOOD NEWS          1398   1398  ... 2014-04-22 2017-08-09
GREEN              2622   2617  ... 2014-04-18 2018-01-17
HEALTHY LIVING     6694   6684  ... 2014-04-18 2018-01-16
HOME & LIVING      4195   4089  ... 2012-01-28 2014-04-17
IMPACT             3459   3455  ... 2012-01-28 2018-05-26
LATINO VOICES      1129   1129  ... 2014-04-22 2018-05-22
MEDIA              2815   2813  ... 2014-04-18 2018-05-24
MONEY              1707   1705  ... 2012-02-29 2014-04-17
PARENTING          8677   8626  ... 2012-01-28 2014-04-17
PARENTS            3955   3890  ... 2014-04-18 2018-02-06
POLITICS          32739  32616  ... 2014-04-18 2018-05-26
QUEER VOICES       6314   6305  ... 2012-01-28 2018-05-25
RELIGION           2556   2548  ... 2014-04-18 2018-05-23
SCIENCE            2178   2176  ... 2012-01-28 2018-05-23
SPORTS             4884   4883  ... 2012-01-28 2018-05-24
STYLE              2254   2246  ... 2014-04-18 2018-01-19
STYLE & BEAUTY     9649   9165  ... 2012-01-28 2014-04-17
TASTE              2096   2095  ... 2014-04-18 2018-01-16
TECH               2082   2027  ... 2012-01-28 2018-05-24
THE WORLDPOST      3664   3662  ... 2015-07-09 2017-10-13
TRAVEL             9887   9862  ... 2012-01-28 2018-05-24
WEDDINGS           3651   3592  ... 2012-01-29 2014-04-17
WEIRD NEWS         2670   2670  ... 2014-04-19 2018-05-26
WELLNESS          17827  17778  ... 2012-01-28 2014-04-17
WOMEN              3490   3375  ... 2014-04-18 2018-05-25
WORLD NEWS         2177   2174  ... 2017-04-09 2018-05-26
WORLDPOST          2579   2579  ... 2014-04-18 2017-02-12

[41 rows x 30 columns]

In [7]:
print("missing values from msg:")
print(news.isnull().sum())

missing values from msg:
category             0
headline             0
authors              0
link                 0
short_description    0
date                 0
dtype: int64

In [8]:
news.head()

        category  ...       date
0          CRIME  ... 2018-05-26
1  ENTERTAINMENT  ... 2018-05-26
2  ENTERTAINMENT  ... 2018-05-26
3  ENTERTAINMENT  ... 2018-05-26
4  ENTERTAINMENT  ... 2018-05-26

[5 rows x 6 columns]

# **Data preprocessing**

In [9]:
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('vader_lexicon')
import string
from nltk import pos_tag
from nltk.corpus import stopwords
from nltk.tokenize import WhitespaceTokenizer
from nltk.stem import WordNetLemmatizer
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [10]:
from nltk.corpus import wordnet

def get_wordnet_pos(pos_tag):
    if pos_tag.startswith('J'):
        return wordnet.ADJ
    elif pos_tag.startswith('V'):
        return wordnet.VERB
    elif pos_tag.startswith('N'):
        return wordnet.NOUN
    elif pos_tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN

        
def clean_text(text):
    # lower text
    text = text.lower()
    # tokenize text and remove puncutation
    text = [word.strip(string.punctuation) for word in text.split(" ")]
    # remove words that contain numbers
    text = [word for word in text if not any(c.isdigit() for c in word)]
    # remove stop words
    stop = stopwords.words('english')
    text = [x for x in text if x not in stop]
    # remove tokens that are less than length 2
    text = [t for t in text if len(t) > 1]
    # pos tag text
    pos_tags = pos_tag(text)
    # lemmatize text
    text = [WordNetLemmatizer().lemmatize(t[0], get_wordnet_pos(t[1])) for t in pos_tags]
    # join all
    text = " ".join(text)
    return(text)

In [11]:
# clean text data
news["headline"] = news["headline"].apply(lambda x: clean_text(x))
news["short_description"] = news["short_description"].apply(lambda x: clean_text(x))

# **Feature engineering**

In [ ]:
sns.displot(news, x="length", hue="category", kind="kde", multiple="stack")

In [15]:

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

def feature_engineering(column):
  from sklearn.feature_extraction.text import TfidfVectorizer
  from nltk.sentiment.vader import SentimentIntensityAnalyzer

  sid = SentimentIntensityAnalyzer()
  tf_vec = TfidfVectorizer()

  feature = tf_vec.fit_transform(column)
  t = {}
  train_data = pd.DataFrame(t)
  train_data["sentiments"] = column.apply(lambda x: sid.polarity_scores(x))
  train_data = pd.concat([train_data.drop(['sentiments'], axis=1), train_data['sentiments'].apply(pd.Series)], axis=1)
  train_data['compound'] = train_data['compound'] + 1
  from scipy.sparse import hstack
  featuresfinal = hstack((feature,np.array(train_data['compound'])[:,None]))

  return featuresfinal

In [16]:
f1 = feature_engineering(news["headline"])
f2 = feature_engineering(news["short_description"])

In [17]:
from scipy.sparse import hstack
featuresfinal = hstack((f1,np.array(f2).all()))

# **Model**

In [18]:
features_train, features_test, labels_train, labels_test = train_test_split(featuresfinal, news['category'], test_size=0.3, random_state=100)

In [20]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.metrics import accuracy_score

In [21]:

svc = SVC(kernel='sigmoid', gamma=1.0)
knc = KNeighborsClassifier(n_neighbors=49)
mnb = MultinomialNB(alpha=0.2)
dtc = DecisionTreeClassifier(min_samples_split=7, random_state=100)
lrc = LogisticRegression(solver='liblinear', penalty='l1')
rfc = RandomForestClassifier(n_estimators=31, random_state=100)
abc = AdaBoostClassifier(n_estimators=62, random_state=100)
bc = BaggingClassifier(n_estimators=9, random_state=100)
etc = ExtraTreesClassifier(n_estimators=9, random_state=100)


clfs = {'SVC' : svc,'KN' : knc, 'mnb' : mnb, 'DT': dtc, 'LR': lrc, 'RF': rfc, 'AdaBoost': abc, 'BgC': bc, 'ETC': etc}

In [22]:
def train_classifier(clf, feature_train, labels_train):    
    clf.fit(feature_train, labels_train)

def predict_labels(clf, features):
    return (clf.predict(features))

In [ ]:
pred_scores = []
for k,v in clfs.items():
    train_classifier(v, features_train, labels_train)
    pred = predict_labels(v,features_test)
    pred_scores.append((k, [accuracy_score(labels_test,pred)]))

In [ ]:

Score_sheet = pd.DataFrame(pred_scores)
Score_sheet